<!DOCTYPE html>
<html>
<head>
  <title>Loja</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class= '<%= controller.controller_name %>' >
<div class="header">
  <h1>Loja</h1>
  <h2><%= controller.controller_name %></h2>
</div>

<div class="columns">
  <div class="side">
    <%= link_to 'Products', products_path %>
    <br/>
    <%= link_to 'Categories', categories_path %>
  </div>
  <div class="main">
    <%= yield %>
  </div>
</div>

</body>
</html>
