<h1>Index</h1>
<%= link_to 'new', new_product_path %>
<% @products.each do |product| %>
<%= render(partial: "components/product", object: product) %>
<%= link_to 'show', product %>
<%= link_to 'edit', edit_product_path(product) %>
<%= link_to 'delete', product, method: :delete %>
<% end %>
