<div class="col-xs-12 thumbnail">

  <div class="col-xs-9">
    <h2> <%= group.title %> </h2>
    <p> Has <%= pluralize(group.users.count, "user")%>. <p>
    <p> <%= group.description %> </p>
  </div>

  <div class="col-xs-3">
    <%= link_to 'Show', group, class: "btn btn-primary btn-lg btn-block" %>
    <%= link_to 'Edit', edit_group_path(group), class: "btn btn-warning btn-lg btn-block" %>
    <%= link_to 'Delete', group, method: :delete, class: "btn btn-danger btn-lg btn-block" %>
  </div>
</div>
