<div class="col-xs-12 thumbnail">
  <h2> <%= user.name %> </h2>
  <p> Group: <%= user.group.title %> </p>
  <div class="row">
    <div class="col-xs-4">
      <%= link_to 'Show', user, class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <div class="col-xs-4">
      <%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning btn-lg btn-block" %>
    </div>
    <div class="col-xs-4">
      <%= link_to 'Delete', user, method: :delete, class: "btn btn-danger btn-lg btn-block" %>
    </div>
  </div>
</div>
